body {
    
    background-color: lightgray;

};

h1 {
    color: purple;
    background-color: lightgrey;
};


ul {
    list-style-type: none;
};

ol {
    font-weight:italic;
};

li {
    text-align: center;
    border: 1px red;
    border-radius: 1cm;
    color: blue;
    background-color: lightpink;

};

img {
    height: auto;
};




